# Drought Prediction: Preprocessing & Training Data Development

INSERT EXPLANATORY TEXT

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

#### Load Merged Soil & Meteorological Dataset

In [2]:
# Local location of the data
# local_data = 'D:\\Data_Science\\DroughtProject\\Data\\' # Location on Windows
local_data = '/home/chad/Data/Drought_Prediction/' # Location on Linux

# Load the merged dataset of training and soil variables.
# ts_merge = pd.read_csv(local_data + 'train_soil_merge.csv') # Run out of RAM (32GB), file size - 6.8GB

N = 19300680 # number of rows in the training_data_set & the merge.
N1 = int(N/2)

ts_merge0 = pd.read_csv(local_data + 'train_soil_merge.csv', 
                        skiprows=[i for i in range(N1,N-1)], 
                        parse_dates=['date'],
                        header=0)

In [3]:
ts_merge0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9650341 entries, 0 to 9650340
Data columns (total 53 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   fips           int64
 2   date           datetime64[ns]
 3   PRECTOT        float64
 4   PS             float64
 5   QV2M           float64
 6   T2M            float64
 7   T2MDEW         float64
 8   T2MWET         float64
 9   T2M_MAX        float64
 10  T2M_MIN        float64
 11  T2M_RANGE      float64
 12  TS             float64
 13  WS10M          float64
 14  WS10M_MAX      float64
 15  WS10M_MIN      float64
 16  WS10M_RANGE    float64
 17  WS50M          float64
 18  WS50M_MAX      float64
 19  WS50M_MIN      float64
 20  WS50M_RANGE    float64
 21  score          float64
 22  lat            float64
 23  lon            float64
 24  elevation      int64
 25  slope1         float64
 26  slope2         float64
 27  slope3         float64
 28  slope4         float64
 29  slope5         float64
 30  slope6         float64
 31  slope7         float64
 32  slope8         float64
 33  aspectN        float64
 34  aspectE        float64
 35  aspectS        float64
 36  aspectW        float64
 37  aspectUnknown  float64
 38  WAT_LAND       float64
 39  NVG_LAND       float64
 40  URB_LAND       float64
 41  GRS_LAND       float64
 42  FOR_LAND       float64
 43  CULTRF_LAND    float64
 44  CULTIR_LAND    float64
 45  CULT_LAND      float64
 46  SQ1            int64
 47  SQ2            int64
 48  SQ3            int64
 49  SQ4            int64
 50  SQ5            int64
 51  SQ6            int64
 52  SQ7            int64
dtypes: datetime64[ns](1), float64(42), int64(10)
memory usage: 3.8 GB

In [4]:
ts_merge0.head()

,Unnamed: 0,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
2,2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
3,3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
4,4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2

In [5]:
ts_merge0 = ts_merge0.drop('Unnamed: 0', axis=1)

In [6]:
ts_merge0

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9650336,29211,2016-12-28,0.00,98.15,3.21,0.27,-2.63,-2.60,4.68,-2.76,...,82.339706,1.864281,84.203987,1,1,1,1,1,1,1
9650337,29211,2016-12-29,0.01,98.87,2.57,0.74,-5.27,-5.17,5.65,-2.45,...,82.339706,1.864281,84.203987,1,1,1,1,1,1,1
9650338,29211,2016-12-30,0.01,98.21,2.58,1.60,-5.34,-5.24,8.75,-4.48,...,82.339706,1.864281,84.203987,1,1,1,1,1,1,1
9650339,56043,2016-12-30,1.22,82.49,2.63,-2.94,-7.40,-7.33,3.76,-6.86,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
9650340,56043,2016-12-31,0.44,82.19,1.75,-7.56,-11.98,-11.82,-0.95,-11.61,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1

In [7]:
ts_merge0.columns

Index(['fips', 'date', 'PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW', 'T2MWET',
       'T2M_MAX', 'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX',
       'WS10M_MIN', 'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN',
       'WS50M_RANGE', 'score', 'lat', 'lon', 'elevation', 'slope1', 'slope2',
       'slope3', 'slope4', 'slope5', 'slope6', 'slope7', 'slope8', 'aspectN',
       'aspectE', 'aspectS', 'aspectW', 'aspectUnknown', 'WAT_LAND',
       'NVG_LAND', 'URB_LAND', 'GRS_LAND', 'FOR_LAND', 'CULTRF_LAND',
       'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2', 'SQ3', 'SQ4', 'SQ5', 'SQ6',
       'SQ7'],
      dtype='object')

In [8]:
features = ['PRECTOT', 'PS', 'QV2M', 'T2M', 'T2MDEW',
       'T2MWET', 'T2M_MAX', 'T2M_MIN', 'T2M_RANGE', 'TS', 'WS10M', 'WS10M_MAX',
       'WS10M_MIN', 'WS10M_RANGE', 'WS50M', 'WS50M_MAX', 'WS50M_MIN',
       'WS50M_RANGE', 'lat', 'lon', 'elevation', 'slope1', 'slope2',
       'slope3', 'slope4', 'slope5', 'slope6', 'slope7', 'slope8', 'aspectN',
       'aspectE', 'aspectS', 'aspectW', 'aspectUnknown', 'WAT_LAND',
       'NVG_LAND', 'URB_LAND', 'GRS_LAND', 'FOR_LAND', 'CULTRF_LAND',
       'CULTIR_LAND', 'CULT_LAND', 'SQ1', 'SQ2', 'SQ3', 'SQ4', 'SQ5', 'SQ6',
       'SQ7']

# Separating out the features
X0 = ts_merge0.loc[:, features].values

# Separating out the target
y0 = ts_merge0.loc[:,['score']].values

# Standardizing the features
X0 = StandardScaler().fit_transform(X0)

In [9]:
X0

array([[-0.39648032,  0.55263   ,  0.30263564, ..., -0.15325498,
        -0.14696276,  0.76980747],
       [-0.39952254,  0.55998486,  0.4608709 , ..., -0.15325498,
        -0.14696276,  0.76980747],
       [ 0.12525978,  0.48643628,  0.73624134, ..., -0.15325498,
        -0.14696276,  0.76980747],
       ...,
       [-0.42842359,  0.12972571, -1.15025172, ..., -0.15325498,
        -0.14696276, -0.24398979],
       [-0.2443695 , -2.7607332 , -1.1399767 , ..., -0.15325498,
        -0.14696276, -0.24398979],
       [-0.36301594, -2.81589463, -1.32081699, ..., -0.15325498,
        -0.14696276, -0.24398979]])

In [10]:
date0 = ts_merge0['date']

In [11]:
date0

0         2000-01-01
1         2000-01-02
2         2000-01-03
3         2000-01-04
4         2000-01-05
             ...
9650336   2016-12-28
9650337   2016-12-29
9650338   2016-12-30
9650339   2016-12-30
9650340   2016-12-31
Name: date, Length: 9650341, dtype: datetime64[ns]

In [12]:
date0_df = pd.DataFrame(date0, index=ts_merge0.index, columns=['date'])

In [13]:
date0_df

              date
0       2000-01-01
1       2000-01-02
2       2000-01-03
3       2000-01-04
4       2000-01-05
...            ...
9650336 2016-12-28
9650337 2016-12-29
9650338 2016-12-30
9650339 2016-12-30
9650340 2016-12-31

[9650341 rows x 1 columns]

In [14]:
y0

array([[nan],
       [nan],
       [nan],
       ...,
       [nan],
       [nan],
       [nan]])

In [15]:
y0_df = pd.DataFrame(y0, index=ts_merge0.index, columns=['score'])

In [16]:
y0_df

         score
0          NaN
1          NaN
2          NaN
3          1.0
4          NaN
...        ...
9650336    NaN
9650337    NaN
9650338    NaN
9650339    NaN
9650340    NaN

[9650341 rows x 1 columns]

In [17]:
X0_df = pd.DataFrame(X0, index=ts_merge0.index, columns=features)

In [18]:
X0_df

,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,-0.396480,0.552630,0.302636,0.138316,0.563310,0.562943,0.168457,0.335466,-0.417993,0.123712,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
1,-0.399523,0.559985,0.460871,0.317114,0.680164,0.680374,0.329331,0.443382,-0.245534,0.299819,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
2,0.125260,0.486436,0.736241,0.482159,0.856419,0.857500,0.323211,0.697688,-0.948050,0.463283,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
3,1.996223,0.512178,-0.361130,-0.167934,-0.159238,-0.162196,-0.082471,-0.537246,1.210220,-0.177927,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
4,-0.429945,0.670308,-1.074217,-0.859288,-1.072647,-1.072290,-0.718098,-0.989554,0.591398,-0.960022,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9650336,-0.429945,0.118693,-1.020787,-1.188461,-1.008378,-1.013574,-1.254927,-0.998938,-0.942978,-1.239084,...,1.369858,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650337,-0.428424,0.251081,-1.152307,-1.145366,-1.265457,-1.265073,-1.170119,-0.969848,-0.770519,-1.185800,...,1.369858,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650338,-0.428424,0.129726,-1.150252,-1.066511,-1.272273,-1.271923,-0.899081,-1.160343,0.527994,-1.109035,...,1.369858,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650339,-0.244370,-2.760733,-1.139977,-1.482791,-1.472873,-1.476450,-1.335364,-1.383682,-0.133944,-1.573235,...,-0.997497,-0.353467,-1.084026,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650340,-0.363016,-2.815895,-1.320817,-1.906406,-1.918866,-1.915839,-1.747166,-1.829421,-0.123799,-2.117812,...,-0.997497,-0.353467,-1.084026,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990

In [19]:
X0_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9650341 entries, 0 to 9650340
Data columns (total 49 columns):
 #   Column         Dtype
---  ------         -----
 0   PRECTOT        float64
 1   PS             float64
 2   QV2M           float64
 3   T2M            float64
 4   T2MDEW         float64
 5   T2MWET         float64
 6   T2M_MAX        float64
 7   T2M_MIN        float64
 8   T2M_RANGE      float64
 9   TS             float64
 10  WS10M          float64
 11  WS10M_MAX      float64
 12  WS10M_MIN      float64
 13  WS10M_RANGE    float64
 14  WS50M          float64
 15  WS50M_MAX      float64
 16  WS50M_MIN      float64
 17  WS50M_RANGE    float64
 18  lat            float64
 19  lon            float64
 20  elevation      float64
 21  slope1         float64
 22  slope2         float64
 23  slope3         float64
 24  slope4         float64
 25  slope5         float64
 26  slope6         float64
 27  slope7         float64
 28  slope8         float64
 29  aspectN        float64
 30  aspectE        float64
 31  aspectS        float64
 32  aspectW        float64
 33  aspectUnknown  float64
 34  WAT_LAND       float64
 35  NVG_LAND       float64
 36  URB_LAND       float64
 37  GRS_LAND       float64
 38  FOR_LAND       float64
 39  CULTRF_LAND    float64
 40  CULTIR_LAND    float64
 41  CULT_LAND      float64
 42  SQ1            float64
 43  SQ2            float64
 44  SQ3            float64
 45  SQ4            float64
 46  SQ5            float64
 47  SQ6            float64
 48  SQ7            float64
dtypes: float64(49)
memory usage: 3.5 GB

In [20]:
# ts_merge0_scaled = pd.merge(date0_df, X0_df, left_index=True, right_index=True) # Memory Error: Unalbe to allocate 447GB
# ts_merge0_scaled = date0_df.join(X0_df) # Memory Error: Unalbe to allocate 447GB
ts_merge0_scaled = pd.concat([date0_df, X0_df], axis=1)

In [21]:
ts_merge0_scaled

,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,2000-01-01,-0.396480,0.552630,0.302636,0.138316,0.563310,0.562943,0.168457,0.335466,-0.417993,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
1,2000-01-02,-0.399523,0.559985,0.460871,0.317114,0.680164,0.680374,0.329331,0.443382,-0.245534,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
2,2000-01-03,0.125260,0.486436,0.736241,0.482159,0.856419,0.857500,0.323211,0.697688,-0.948050,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
3,2000-01-04,1.996223,0.512178,-0.361130,-0.167934,-0.159238,-0.162196,-0.082471,-0.537246,1.210220,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
4,2000-01-05,-0.429945,0.670308,-1.074217,-0.859288,-1.072647,-1.072290,-0.718098,-0.989554,0.591398,...,0.620999,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9650336,2016-12-28,-0.429945,0.118693,-1.020787,-1.188461,-1.008378,-1.013574,-1.254927,-0.998938,-0.942978,...,1.369858,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650337,2016-12-29,-0.428424,0.251081,-1.152307,-1.145366,-1.265457,-1.265073,-1.170119,-0.969848,-0.770519,...,1.369858,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650338,2016-12-30,-0.428424,0.129726,-1.150252,-1.066511,-1.272273,-1.271923,-0.899081,-1.160343,0.527994,...,1.369858,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650339,2016-12-30,-0.244370,-2.760733,-1.139977,-1.482791,-1.472873,-1.476450,-1.335364,-1.383682,-0.133944,...,-0.997497,-0.353467,-1.084026,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990
9650340,2016-12-31,-0.363016,-2.815895,-1.320817,-1.906406,-1.918866,-1.915839,-1.747166,-1.829421,-0.123799,...,-0.997497,-0.353467,-1.084026,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990

In [22]:
ts_merge0_scaled = pd.concat([ts_merge0_scaled, y0_df], axis=1)

In [23]:
ts_merge0_scaled

,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,...,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7,score
0,2000-01-01,-0.396480,0.552630,0.302636,0.138316,0.563310,0.562943,0.168457,0.335466,-0.417993,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN
1,2000-01-02,-0.399523,0.559985,0.460871,0.317114,0.680164,0.680374,0.329331,0.443382,-0.245534,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN
2,2000-01-03,0.125260,0.486436,0.736241,0.482159,0.856419,0.857500,0.323211,0.697688,-0.948050,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN
3,2000-01-04,1.996223,0.512178,-0.361130,-0.167934,-0.159238,-0.162196,-0.082471,-0.537246,1.210220,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,1.0
4,2000-01-05,-0.429945,0.670308,-1.074217,-0.859288,-1.072647,-1.072290,-0.718098,-0.989554,0.591398,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9650336,2016-12-28,-0.429945,0.118693,-1.020787,-1.188461,-1.008378,-1.013574,-1.254927,-0.998938,-0.942978,...,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990,NaN
9650337,2016-12-29,-0.428424,0.251081,-1.152307,-1.145366,-1.265457,-1.265073,-1.170119,-0.969848,-0.770519,...,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990,NaN
9650338,2016-12-30,-0.428424,0.129726,-1.150252,-1.066511,-1.272273,-1.271923,-0.899081,-1.160343,0.527994,...,-0.194029,1.266882,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990,NaN
9650339,2016-12-30,-0.244370,-2.760733,-1.139977,-1.482791,-1.472873,-1.476450,-1.335364,-1.383682,-0.133944,...,-0.353467,-1.084026,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990,NaN
9650340,2016-12-31,-0.363016,-2.815895,-1.320817,-1.906406,-1.918866,-1.915839,-1.747166,-1.829421,-0.123799,...,-0.353467,-1.084026,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,-0.243990,NaN

In [24]:
ts_merge0_scaled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9650341 entries, 0 to 9650340
Data columns (total 51 columns):
 #   Column         Dtype
---  ------         -----
 0   date           datetime64[ns]
 1   PRECTOT        float64
 2   PS             float64
 3   QV2M           float64
 4   T2M            float64
 5   T2MDEW         float64
 6   T2MWET         float64
 7   T2M_MAX        float64
 8   T2M_MIN        float64
 9   T2M_RANGE      float64
 10  TS             float64
 11  WS10M          float64
 12  WS10M_MAX      float64
 13  WS10M_MIN      float64
 14  WS10M_RANGE    float64
 15  WS50M          float64
 16  WS50M_MAX      float64
 17  WS50M_MIN      float64
 18  WS50M_RANGE    float64
 19  lat            float64
 20  lon            float64
 21  elevation      float64
 22  slope1         float64
 23  slope2         float64
 24  slope3         float64
 25  slope4         float64
 26  slope5         float64
 27  slope6         float64
 28  slope7         float64
 29  slope8         float64
 30  aspectN        float64
 31  aspectE        float64
 32  aspectS        float64
 33  aspectW        float64
 34  aspectUnknown  float64
 35  WAT_LAND       float64
 36  NVG_LAND       float64
 37  URB_LAND       float64
 38  GRS_LAND       float64
 39  FOR_LAND       float64
 40  CULTRF_LAND    float64
 41  CULTIR_LAND    float64
 42  CULT_LAND      float64
 43  SQ1            float64
 44  SQ2            float64
 45  SQ3            float64
 46  SQ4            float64
 47  SQ5            float64
 48  SQ6            float64
 49  SQ7            float64
 50  score          float64
dtypes: datetime64[ns](1), float64(50)
memory usage: 3.7 GB

In [25]:
ts_merge0_scaled.to_csv(local_data + 'ts_merge0_scaled.csv')