# <u>Drought Prediction</u>: Preprocessing - Resampe, Merge, Scale

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

#### Load Training Dataset and Soil Dataset.  Convert Training Dataset date variable from object to datetime.

In [2]:
# Local location of the data
# local_data = 'D:\\Data_Science\\DroughtProject\\Data\\' # Location on Windows
local_data = '/home/chad/Data/Drought_Prediction/' # Location on Linux

# Load the training set and the soil variables.
soil_set = pd.read_csv(local_data + 'soil_data.csv')
train_set = pd.read_csv(local_data + 'train_timeseries.csv',
                        parse_dates=['date'],
                        header=0)

#### Confirm datasets are properly loaded and contain expected datatypes.

In [3]:
soil_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3109 entries, 0 to 3108
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fips           3109 non-null   int64
 1   lat            3109 non-null   float64
 2   lon            3109 non-null   float64
 3   elevation      3109 non-null   int64
 4   slope1         3109 non-null   float64
 5   slope2         3109 non-null   float64
 6   slope3         3109 non-null   float64
 7   slope4         3109 non-null   float64
 8   slope5         3109 non-null   float64
 9   slope6         3109 non-null   float64
 10  slope7         3109 non-null   float64
 11  slope8         3109 non-null   float64
 12  aspectN        3109 non-null   float64
 13  aspectE        3109 non-null   float64
 14  aspectS        3109 non-null   float64
 15  aspectW        3109 non-null   float64
 16  aspectUnknown  3109 non-null   float64
 17  WAT_LAND       3109 non-null   float64
 18  NVG_LAND       3109 non-null   float64
 19  URB_LAND       3109 non-null   float64
 20  GRS_LAND       3109 non-null   float64
 21  FOR_LAND       3109 non-null   float64
 22  CULTRF_LAND    3109 non-null   float64
 23  CULTIR_LAND    3109 non-null   float64
 24  CULT_LAND      3109 non-null   float64
 25  SQ1            3109 non-null   int64
 26  SQ2            3109 non-null   int64
 27  SQ3            3109 non-null   int64
 28  SQ4            3109 non-null   int64
 29  SQ5            3109 non-null   int64
 30  SQ6            3109 non-null   int64
 31  SQ7            3109 non-null   int64
dtypes: float64(23), int64(9)
memory usage: 777.4 KB

In [4]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19300680 entries, 0 to 19300679
Data columns (total 21 columns):
 #   Column       Dtype
---  ------       -----
 0   fips         int64
 1   date         datetime64[ns]
 2   PRECTOT      float64
 3   PS           float64
 4   QV2M         float64
 5   T2M          float64
 6   T2MDEW       float64
 7   T2MWET       float64
 8   T2M_MAX      float64
 9   T2M_MIN      float64
 10  T2M_RANGE    float64
 11  TS           float64
 12  WS10M        float64
 13  WS10M_MAX    float64
 14  WS10M_MIN    float64
 15  WS10M_RANGE  float64
 16  WS50M        float64
 17  WS50M_MAX    float64
 18  WS50M_MIN    float64
 19  WS50M_RANGE  float64
 20  score        float64
dtypes: datetime64[ns](1), float64(19), int64(1)
memory usage: 3.0 GB

In [5]:
soil_set.head()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,1003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,1007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,1009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1

In [6]:
train_set.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN

### Resample Meteorolgical Variables to weekly variables with non-null Score values.

In [7]:
# For each county ('fips'), since the score value is set on Tuesday, 
# all variables are averaged from the week leading up to Tuesday: previous Wednesday to Tuesday.
train_set_mean = train_set.groupby('fips').resample('W-TUE', on='date').mean()
train_set_mean

                     fips   PRECTOT          PS      QV2M        T2M  \
fips  date
1001  2000-01-04   1001.0  5.005000  100.375000  9.562500  15.330000
      2000-01-11   1001.0  5.684286  100.665714  5.951429   9.192857
      2000-01-18   1001.0  0.832857  101.275714  6.692857  10.118571
      2000-01-25   1001.0  3.641429  100.187143  4.220000   4.458571
      2000-02-01   1001.0  3.617143  100.992857  3.178571   0.764286
...                   ...       ...         ...       ...        ...
56043 2016-12-06  56043.0  0.471429   82.668571  1.991429  -5.320000
      2016-12-13  56043.0  0.350000   82.865714  1.884286  -7.621429
      2016-12-20  56043.0  0.812857   82.752857  1.757143  -9.688571
      2016-12-27  56043.0  0.751429   82.667143  2.022857  -6.534286
      2017-01-03  56043.0  0.420000   82.940000  1.845000  -6.792500

                     T2MDEW     T2MWET    T2M_MAX    T2M_MIN  T2M_RANGE  \
fips  date
1001  2000-01-04  12.707500  12.710000  21.145000  10.387500  10.752500
      2000-01-11   4.908571   4.934286  15.732857   3.071429  12.662857
      2000-01-18   6.711429   6.735714  16.931429   3.757143  13.177143
      2000-01-25  -0.224286  -0.132857  10.217143  -1.282857  11.498571
      2000-02-01  -2.791429  -2.714286   6.275714  -3.271429   9.547143
...                     ...        ...        ...        ...        ...
56043 2016-12-06 -11.062857 -10.812857  -0.422857  -9.621429   9.200000
      2016-12-13 -12.220000 -11.961429  -2.532857 -11.791429   9.260000
      2016-12-20 -13.777143 -13.368571  -3.805714 -15.451429  11.642857
      2016-12-27 -11.001429 -10.767143   0.274286 -11.805714  12.081429
      2017-01-03 -11.695000 -11.505000   0.185000 -11.635000  11.820000

                         TS     WS10M  WS10M_MAX  WS10M_MIN  WS10M_RANGE  \
fips  date
1001  2000-01-04  15.242500  3.147500   4.342500   2.015000     2.330000
      2000-01-11   8.558571  2.200000   3.305714   1.238571     2.065714
      2000-01-18   9.975714  2.352857   3.257143   1.490000     1.767143
      2000-01-25   4.508571  2.932857   4.090000   1.814286     2.275714
      2000-02-01   0.781429  2.362857   3.354286   1.318571     2.037143
...                     ...       ...        ...        ...          ...
56043 2016-12-06  -5.887143  3.517143   5.534286   1.837143     3.694286
      2016-12-13  -8.364286  3.370000   5.521429   1.435714     4.085714
      2016-12-20 -10.667143  3.735714   5.688571   1.648571     4.038571
      2016-12-27  -8.218571  4.237143   6.014286   2.238571     3.775714
      2017-01-03  -8.787500  4.520000   7.120000   2.135000     4.987500

                     WS50M  WS50M_MAX  WS50M_MIN  WS50M_RANGE  score
fips  date
1001  2000-01-04  6.110000   7.750000   4.140000     3.615000    1.0
      2000-01-11  4.418571   6.588571   2.280000     4.307143    2.0
      2000-01-18  4.870000   6.508571   2.812857     3.692857    2.0
      2000-01-25  5.270000   7.174286   3.575714     3.600000    2.0
      2000-02-01  4.372857   6.177143   2.580000     3.594286    1.0
...                    ...        ...        ...          ...    ...
56043 2016-12-06  5.210000   7.768571   2.905714     4.862857    0.0
      2016-12-13  5.080000   7.635714   2.311429     5.322857    0.0
      2016-12-20  5.287143   7.750000   2.740000     5.008571    0.0
      2016-12-27  6.342857   8.890000   3.630000     5.258571    0.0
      2017-01-03  6.782500   9.985000   3.590000     6.395000    NaN

[2759904 rows x 20 columns]

In [8]:
# The Groupby returns a MultiIndex.
train_set_mean.index

MultiIndex([( 1001, '2000-01-04'),
            ( 1001, '2000-01-11'),
            ( 1001, '2000-01-18'),
            ( 1001, '2000-01-25'),
            ( 1001, '2000-02-01'),
            ( 1001, '2000-02-08'),
            ( 1001, '2000-02-15'),
            ( 1001, '2000-02-22'),
            ( 1001, '2000-02-29'),
            ( 1001, '2000-03-07'),
            ...
            (56043, '2016-11-01'),
            (56043, '2016-11-08'),
            (56043, '2016-11-15'),
            (56043, '2016-11-22'),
            (56043, '2016-11-29'),
            (56043, '2016-12-06'),
            (56043, '2016-12-13'),
            (56043, '2016-12-20'),
            (56043, '2016-12-27'),
            (56043, '2017-01-03')],
           names=['fips', 'date'], length=2759904)

In [9]:
# 'fips' is both part of the MultiIndex and a copied column.
#  Need to rename (or delete) before resetting the index.
train_set_mean.rename({'fips': 'fips_copy'}, axis=1, inplace=True)

train_set_mean.reset_index(inplace=True)
train_set_mean

,fips,date,fips_copy,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-04,1001.0,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,...,15.242500,3.147500,4.342500,2.015000,2.330000,6.110000,7.750000,4.140000,3.615000,1.0
1,1001,2000-01-11,1001.0,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,...,8.558571,2.200000,3.305714,1.238571,2.065714,4.418571,6.588571,2.280000,4.307143,2.0
2,1001,2000-01-18,1001.0,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,...,9.975714,2.352857,3.257143,1.490000,1.767143,4.870000,6.508571,2.812857,3.692857,2.0
3,1001,2000-01-25,1001.0,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,...,4.508571,2.932857,4.090000,1.814286,2.275714,5.270000,7.174286,3.575714,3.600000,2.0
4,1001,2000-02-01,1001.0,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,...,0.781429,2.362857,3.354286,1.318571,2.037143,4.372857,6.177143,2.580000,3.594286,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,56043.0,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,...,-5.887143,3.517143,5.534286,1.837143,3.694286,5.210000,7.768571,2.905714,4.862857,0.0
2759900,56043,2016-12-13,56043.0,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,...,-8.364286,3.370000,5.521429,1.435714,4.085714,5.080000,7.635714,2.311429,5.322857,0.0
2759901,56043,2016-12-20,56043.0,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,...,-10.667143,3.735714,5.688571,1.648571,4.038571,5.287143,7.750000,2.740000,5.008571,0.0
2759902,56043,2016-12-27,56043.0,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,...,-8.218571,4.237143,6.014286,2.238571,3.775714,6.342857,8.890000,3.630000,5.258571,0.0
2759903,56043,2017-01-03,56043.0,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,...,-8.787500,4.520000,7.120000,2.135000,4.987500,6.782500,9.985000,3.590000,6.395000,NaN

In [10]:
# Confirming expected column dataypes, overall size, memory usage, etc.
train_set_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2759904 entries, 0 to 2759903
Data columns (total 22 columns):
 #   Column       Dtype
---  ------       -----
 0   fips         int64
 1   date         datetime64[ns]
 2   fips_copy    float64
 3   PRECTOT      float64
 4   PS           float64
 5   QV2M         float64
 6   T2M          float64
 7   T2MDEW       float64
 8   T2MWET       float64
 9   T2M_MAX      float64
 10  T2M_MIN      float64
 11  T2M_RANGE    float64
 12  TS           float64
 13  WS10M        float64
 14  WS10M_MAX    float64
 15  WS10M_MIN    float64
 16  WS10M_RANGE  float64
 17  WS50M        float64
 18  WS50M_MAX    float64
 19  WS50M_MIN    float64
 20  WS50M_RANGE  float64
 21  score        float64
dtypes: datetime64[ns](1), float64(20), int64(1)
memory usage: 463.2 MB

In [11]:
# The last Score value is NaN.  Filling that value with last valid value.
train_set_mean.fillna(method='ffill', inplace=True)

In [12]:
# 'fips_copy' is a copy and has been verified as no longer needed.
train_set_mean.drop('fips_copy', axis=1, inplace=True)

In [13]:
# Confirming proper structure and expected output.
train_set_mean

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-04,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,10.387500,...,15.242500,3.147500,4.342500,2.015000,2.330000,6.110000,7.750000,4.140000,3.615000,1.0
1,1001,2000-01-11,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,3.071429,...,8.558571,2.200000,3.305714,1.238571,2.065714,4.418571,6.588571,2.280000,4.307143,2.0
2,1001,2000-01-18,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,3.757143,...,9.975714,2.352857,3.257143,1.490000,1.767143,4.870000,6.508571,2.812857,3.692857,2.0
3,1001,2000-01-25,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,-1.282857,...,4.508571,2.932857,4.090000,1.814286,2.275714,5.270000,7.174286,3.575714,3.600000,2.0
4,1001,2000-02-01,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,-3.271429,...,0.781429,2.362857,3.354286,1.318571,2.037143,4.372857,6.177143,2.580000,3.594286,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,-9.621429,...,-5.887143,3.517143,5.534286,1.837143,3.694286,5.210000,7.768571,2.905714,4.862857,0.0
2759900,56043,2016-12-13,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,-11.791429,...,-8.364286,3.370000,5.521429,1.435714,4.085714,5.080000,7.635714,2.311429,5.322857,0.0
2759901,56043,2016-12-20,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,-15.451429,...,-10.667143,3.735714,5.688571,1.648571,4.038571,5.287143,7.750000,2.740000,5.008571,0.0
2759902,56043,2016-12-27,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,-11.805714,...,-8.218571,4.237143,6.014286,2.238571,3.775714,6.342857,8.890000,3.630000,5.258571,0.0
2759903,56043,2017-01-03,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,-11.635000,...,-8.787500,4.520000,7.120000,2.135000,4.987500,6.782500,9.985000,3.590000,6.395000,0.0

### Directly using Merge to correctly join on specified column

In [14]:
train_soil_merge = pd.merge(train_set_mean, soil_set, on='fips', how='inner')

In [15]:
train_soil_merge

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,2000-01-04,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,10.387500,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1001,2000-01-11,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,3.071429,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
2,1001,2000-01-18,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,3.757143,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
3,1001,2000-01-25,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,-1.282857,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
4,1001,2000-02-01,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,-3.271429,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,-9.621429,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759900,56043,2016-12-13,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,-11.791429,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759901,56043,2016-12-20,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,-15.451429,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759902,56043,2016-12-27,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,-11.805714,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759903,56043,2017-01-03,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,-11.635000,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1

#### There are the same number of rows in the training set and the merged dataset.

In [16]:
train_soil_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2759904 entries, 0 to 2759903
Data columns (total 52 columns):
 #   Column         Dtype
---  ------         -----
 0   fips           int64
 1   date           datetime64[ns]
 2   PRECTOT        float64
 3   PS             float64
 4   QV2M           float64
 5   T2M            float64
 6   T2MDEW         float64
 7   T2MWET         float64
 8   T2M_MAX        float64
 9   T2M_MIN        float64
 10  T2M_RANGE      float64
 11  TS             float64
 12  WS10M          float64
 13  WS10M_MAX      float64
 14  WS10M_MIN      float64
 15  WS10M_RANGE    float64
 16  WS50M          float64
 17  WS50M_MAX      float64
 18  WS50M_MIN      float64
 19  WS50M_RANGE    float64
 20  score          float64
 21  lat            float64
 22  lon            float64
 23  elevation      int64
 24  slope1         float64
 25  slope2         float64
 26  slope3         float64
 27  slope4         float64
 28  slope5         float64
 29  slope6         float64
 30  slope7         float64
 31  slope8         float64
 32  aspectN        float64
 33  aspectE        float64
 34  aspectS        float64
 35  aspectW        float64
 36  aspectUnknown  float64
 37  WAT_LAND       float64
 38  NVG_LAND       float64
 39  URB_LAND       float64
 40  GRS_LAND       float64
 41  FOR_LAND       float64
 42  CULTRF_LAND    float64
 43  CULTIR_LAND    float64
 44  CULT_LAND      float64
 45  SQ1            int64
 46  SQ2            int64
 47  SQ3            int64
 48  SQ4            int64
 49  SQ5            int64
 50  SQ6            int64
 51  SQ7            int64
dtypes: datetime64[ns](1), float64(42), int64(9)
memory usage: 1.1 GB

### Exporting the Merged Training and Soil Dataset

In [18]:
# Export the merged training (meteorological) data that has been resampled with mean values
# and the soil data that does not vary with time.
train_soil_merge.to_csv(local_data + 'train_soil_mean.csv')