# <u>Drought Prediction</u>: Preprocessing - Scale

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

#### Load Training Dataset and Soil Dataset.  Convert Training Dataset date variable from object to datetime.

In [2]:
# Local location of the data
# local_data = 'D:\\Data_Science\\DroughtProject\\Data\\' # Location on Windows
local_data = '/home/chad/Data/Drought_Prediction/' # Location on Linux

# Load the dataset that contains training (meteorological variables) resampled weekly with mean
# and the soil variables that have been merged on the county 'fips' value
tsm = pd.read_csv(local_data + 'train_soil_mean.csv',
                        parse_dates=['date'],
                        header=0)

#### Confirm datasets are properly loaded and contain expected datatypes.

In [3]:
tsm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2759904 entries, 0 to 2759903
Data columns (total 53 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   fips           int64
 2   date           datetime64[ns]
 3   PRECTOT        float64
 4   PS             float64
 5   QV2M           float64
 6   T2M            float64
 7   T2MDEW         float64
 8   T2MWET         float64
 9   T2M_MAX        float64
 10  T2M_MIN        float64
 11  T2M_RANGE      float64
 12  TS             float64
 13  WS10M          float64
 14  WS10M_MAX      float64
 15  WS10M_MIN      float64
 16  WS10M_RANGE    float64
 17  WS50M          float64
 18  WS50M_MAX      float64
 19  WS50M_MIN      float64
 20  WS50M_RANGE    float64
 21  score          float64
 22  lat            float64
 23  lon            float64
 24  elevation      int64
 25  slope1         float64
 26  slope2         float64
 27  slope3         float64
 28  slope4         float64
 29  slope5         float64
 30  slope6         float64
 31  slope7         float64
 32  slope8         float64
 33  aspectN        float64
 34  aspectE        float64
 35  aspectS        float64
 36  aspectW        float64
 37  aspectUnknown  float64
 38  WAT_LAND       float64
 39  NVG_LAND       float64
 40  URB_LAND       float64
 41  GRS_LAND       float64
 42  FOR_LAND       float64
 43  CULTRF_LAND    float64
 44  CULTIR_LAND    float64
 45  CULT_LAND      float64
 46  SQ1            int64
 47  SQ2            int64
 48  SQ3            int64
 49  SQ4            int64
 50  SQ5            int64
 51  SQ6            int64
 52  SQ7            int64
dtypes: datetime64[ns](1), float64(42), int64(10)
memory usage: 1.1 GB

In [4]:
tsm.head()

,Unnamed: 0,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,0,1001,2000-01-04,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1,1001,2000-01-11,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
2,2,1001,2000-01-18,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
3,3,1001,2000-01-25,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
4,4,1001,2000-02-01,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2